<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KV</key>
	<string>千伏特</string>
	<key>V</key>
	<string>伏</string>
	<key>mV</key>
	<string>毫伏</string>
	<key>μV</key>
	<string>微伏</string>
	<key>KA</key>
	<string>千安培</string>
	<key>A</key>
	<string>安培</string>
	<key>mA</key>
	<string>毫安</string>
	<key>μA</key>
	<string>微安</string>
	<key>MHz</key>
	<string>兆赫兹</string>
	<key>KHz</key>
	<string>千赫兹</string>
	<key>Hz</key>
	<string>赫兹</string>
	<key>°F</key>
	<string>华氏度</string>
	<key>°C</key>
	<string>摄氏度</string>
	<key>TΩ</key>
	<string>T 欧姆</string>
	<key>MΩ</key>
	<string>兆欧</string>
	<key>KΩ</key>
	<string>千欧</string>
	<key>Ω</key>
	<string>欧</string>
	<key>%</key>
	<string>百分</string>
	<key>F</key>
	<string>法拉</string>
	<key>mF</key>
	<string>毫法</string>
	<key>μF</key>
	<string>微法</string>
	<key>nF</key>
	<string>纳法</string>
	<key>pF</key>
	<string>皮法</string>
	<key>m2</key>
	<string>平方米</string>
	<key>ft2</key>
	<string>平方英尺</string>
	<key>X10</key>
	<string>乘十</string>
	<key>m/s</key>
	<string>米每秒</string>
	<key>Km/s</key>
	<string>千米每秒</string>
	<key>ft/s</key>
	<string>英尺每秒</string>
	<key>ft/m</key>
	<string>英尺每分钟</string>
	<key>knots</key>
	<string>节</string>
	<key>mil/h</key>
	<string>英里每小时</string>
	<key>CMM</key>
	<string>立方米每分钟</string>
	<key>FPM</key>
	<string>英尺每分钟</string>
	<key>CFM</key>
	<string>立方英尺每分钟</string>
	<key>CMS</key>
	<string>立方米每秒</string>
	<key>nH</key>
	<string>纳亨</string>
	<key>μH</key>
	<string>微亨</string>
	<key>mH</key>
	<string>毫亨</string>
	<key>H</key>
	<string>亨</string>
	<key>KW</key>
	<string>千瓦</string>
	<key>W</key>
	<string>瓦</string>
	<key>mW</key>
	<string>毫瓦</string>
	<key>μW</key>
	<string>微瓦</string>
	<key>NCV</key>
	<string>非接触电压</string>
</dict>
</plist>
